In [1]:
import pandas as pd

In [27]:
fragebogen = pd.read_csv('./fragebogen.csv', names=["id",
                                                    "nummer", 
                                                    "titel", 
                                                    "schlagwoerter", 
                                                    "erscheinungsjahr",
                                                    "autoren", 
                                                    "originaldaten",
                                                    "anmerkung",
                                                    "freigabe",
                                                    "checked",
                                                    "wordleiste",
                                                    "druck",
                                                    "online",
                                                    "publiziert",
                                                    "fragebogen_typ_id",])

fragebogen.drop(["id","schlagwoerter","erscheinungsjahr","autoren","originaldaten","anmerkung","freigabe",
                 "checked","wordleiste","druck","online","publiziert","fragebogen_typ_id",], inplace=True, axis=1)

fragebogen.set_index("nummer", drop=True, inplace=True)

In [28]:
fragebogen.info()

<class 'pandas.core.frame.DataFrame'>
Index: 762 entries, 1 to ETir.28
Data columns (total 1 columns):
titel    762 non-null object
dtypes: object(1)
memory usage: 11.9+ KB

In [60]:
fragebogen.head(30)

                                                    titel
nummer
1                                  Fragebogen 1: Kopf (1)
2                        Fragebogen 2: Die Osterwoche (1)
3                        Fragebogen 3: Die Osterwoche (2)
4                                  Fragebogen 4: Kopf (2)
5       Fragebogen 5: Zeit zwischen Ostern und Fronlei...
6         Fragebogen 6: Menschl. Haar und Bart (= Kopf 3)
7                              Fragebogen 7: Hochzeit (1)
8                              Fragebogen 8: Hochzeit (2)
9                              Fragebogen 9: Hochzeit (3)
10                            Fragebogen 10: Hochzeit (4)
11                            Fragebogen 11: Hochzeit (5)
12                      Fragebogen 12: Nase, Ohr (Kopf 4)
13                           Fragebogen 13: Auge (Kopf 5)
14                   Fragebogen 14: Besiedelung, Flur (1)
15                   Fragebogen 15: Besiedelung, Flur (2)
16        Fragebogen 16: Feld, Feldbestellung (1) (Allg.)
17        Fragebogen 17: Feld, Feldbestellung (2) (Allg.)
18        Fragebogen 18: Feld, Feldbestellung (3) (Allg.)
19        Fragebogen 19: Feld, Feldbestellung (4) (Allg.)
20                Fragebogen 20: Körper (Allgemeines) (1)
21                Fragebogen 21: Körper (Allgemeines) (2)
22                Fragebogen 22: Körper (Allgemeines) (3)
23                Fragebogen 23: Körper (Allgemeines) (4)
24           Fragebogen 24: Körperteile (5) (Allgemeines)
25                     Fragebogen 25: Hautkrankheiten (1)
26                     Fragebogen 26: Hautkrankheiten (2)
27                     Fragebogen 27: Hautkrankheiten (3)
28                          Fragebogen 28: Brotbacken (1)
29                          Fragebogen 29: Brotbacken (2)
30                          Fragebogen 30: Brotbacken (3)

In [59]:
fragebogen.titel.str.extract(r'([Fragebon]+)\s{1}([0-9]+)[:]{1}([A-Za-z0-9\s]+)[,\s]*([\(\)A-Za-z0-9]*)')

,0,1,2,3
nummer,,,,
1,Fragebogen,1,Kopf,(1)
2,Fragebogen,2,Die Osterwoche,(1)
3,Fragebogen,3,Die Osterwoche,(2)
4,Fragebogen,4,Kopf,(2)
5,Fragebogen,5,Zeit zwischen Ostern und Fronleichnam,
6,Fragebogen,6,Menschl,
7,Fragebogen,7,Hochzeit,(1)
8,Fragebogen,8,Hochzeit,(2)
9,Fragebogen,9,Hochzeit,(3)
10,Fragebogen,10,Hochzeit,(4)
11,Fragebogen,11,Hochzeit,(5)
12,Fragebogen,12,Nase,Ohr
13,Fragebogen,13,Auge,(Kopf
14,Fragebogen,14,Besiedelung,Flur
15,Fragebogen,15,Besiedelung,Flur
16,Fragebogen,16,Feld,Feldbestellung
17,Fragebogen,17,Feld,Feldbestellung
18,Fragebogen,18,Feld,Feldbestellung
19,Fragebogen,19,Feld,Feldbestellung
20,Fragebogen,20,K,
21,Fragebogen,21,K,
22,Fragebogen,22,K,
23,Fragebogen,23,K,
24,Fragebogen,24,K,
25,Fragebogen,25,Hautkrankheiten,(1)
26,Fragebogen,26,Hautkrankheiten,(2)
27,Fragebogen,27,Hautkrankheiten,(3)
28,Fragebogen,28,Brotbacken,(1)
29,Fragebogen,29,Brotbacken,(2)
30,Fragebogen,30,Brotbacken,(3)
...,...,...,...,...
034 [F.2],NaN,NaN,NaN,NaN
091 [F.3],NaN,NaN,NaN,NaN
ETir.1,NaN,NaN,NaN,NaN
ETir.2,NaN,NaN,NaN,NaN
ETir.3,NaN,NaN,NaN,NaN
ETir.4,NaN,NaN,NaN,NaN
ETir.5,NaN,NaN,NaN,NaN
ETir.6,NaN,NaN,NaN,NaN
ETir.7,NaN,NaN,NaN,NaN
ETir.8,NaN,NaN,NaN,NaN
ETir.9,NaN,NaN,NaN,NaN
ETir.10,NaN,NaN,NaN,NaN
ETir.11,NaN,NaN,NaN,NaN
ETir.12,NaN,NaN,NaN,NaN
ETir.13,NaN,NaN,NaN,NaN
ETir.14,NaN,NaN,NaN,NaN
ETir.15,NaN,NaN,NaN,NaN
ETir.16,NaN,NaN,NaN,NaN
ETir.17,NaN,NaN,NaN,NaN
ETir.18,NaN,NaN,NaN,NaN
ETir.19,NaN,NaN,NaN,NaN
ETir.20,NaN,NaN,NaN,NaN
ETir.21,NaN,NaN,NaN,NaN
ETir.22,NaN,NaN,NaN,NaN
ETir.23,NaN,NaN,NaN,NaN
ETir.24,NaN,NaN,NaN,NaN
ETir.25,NaN,NaN,NaN,NaN
ETir.26,NaN,NaN,NaN,NaN
ETir.27,NaN,NaN,NaN,NaN
ETir.28,NaN,NaN,NaN,NaN

In [14]:
frage.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24382 entries, 1 to 24403
Data columns (total 5 columns):
fragebogen_id    24382 non-null int64
nummer           24382 non-null object
originalfrage    24382 non-null object
kurzfrage        17413 non-null object
originaldaten    6528 non-null object
dtypes: int64(1), object(4)
memory usage: 1.1+ MB

In [15]:
frage.head()

,fragebogen_id,nummer,originalfrage,kurzfrage,originaldaten
id,,,,,
1,1,A1,"Kopf: Kopf, Haupt; auch scherzh./übertr.","Kopf, Haupt; auch scherzh./übertr.",NaN
2,1,A2,Kopf: Kopf/Haupt (in urspr. Bed.) in Vergl./Ra...,Kopf/Haupt (urspr.Bed.) in Vergl./Ra.*,NaN
3,1,A3,Kopf: Kopf/Haupt (übertr.) in Vergl./Ra. (das ...,Kopf/Haupt (übertr.) in Vergl./Ra.*,NaN
4,1,A4,"Kopf: schöner, ebenmäßig gebauter Kopf (Christ...","schöner, ebenmäßiger Kopf (Christus-, Titusk.)",NaN
5,1,A4a,"Kopf: häßlicher, unebenmäßiger Kopf","häßlicher, unebenmäßiger Kopf",NaN

In [16]:
df1.merge(fragebogen, df2.rename(columns={'b':'a'}),how='outer'))

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat